.column {
    width: 100%;
  }
  
  @media (min-width: 600px) {
    .column {
      width: 50%;
    }
  }

body{
  text-align:center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: aqua;
}

#questions{
  overflow-wrap: break-word;
  hyphens: auto;
}

#questions p{
  padding: 0;
  margin: 0;
  border: 5px;
  border-color: black;
}

ul{
  list-style-type: none;
  border-color: black;
}